<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>MELI_ACCESS_TOKEN</key>
	<string>APP_USR-8360083651166289-022418-a66d8366d9cc4616e4c96413bc098325-2324480138</string>
	<key>MELI_USER_ID</key>
	<string>2324480138</string>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
